body {
    font-family: Arial, sans-serif;
    padding: 20px;
    text-align: center; 
}


h1, h2 {
    color: rgb(69, 69, 248);
    font-weight: bold;
}


.animal-list {
    display: flex;
    justify-content: center;
    gap: 25px;       
    margin-bottom: 40px;
}

.animal-item {
    width: 200px;        
    height: 230px;       
    border: 2px solid rgb(69, 69, 248);
    border-radius: 14px;
    padding: 12px;
    box-sizing: border-box;
    cursor: pointer;
    text-align: center;
    transition: 0.3s;
}

.animal-item p {
    color: rgb(69, 69, 248);
    font-weight: bold;
    font-size: 18px;     
    margin-top: 10px;
}

.animal-item:hover {
    background-color: #ef8989;
    transform: scale(1.05);
}


.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
    gap: 12px;
    margin-top: 20px;
}

.gallery img {
    width: 180px;        
    height: 140px;       
    object-fit: cover;
    border-radius: 10px;
    border: 2px solid rgb(69, 69, 248);
    transition: 0.3s;
}
.animal-item img {
    width: 100%;
    height: 150px;       
    object-fit: cover;
    border-radius: 10px;
}
